

#ve214 .styleForTitle_span4 {
  font-weight: bold;
  font-size: 20pt;
}
#ve153 .LegendFill {
  frame-border: false;
}
#ve206 .styleForTitle_span3 {
  font-weight: bold;
  font-size: 20pt;
}
#ve189 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 20pt;
}
#ve238 .span1 {
  font-weight: bold;
}
#ve214 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve206 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve180 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve189 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve180 .styleForTitle_span2 {
  font-weight: bold;
  font-size: 20pt;
}

			