

#ve1770 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve3828 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve3835 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1780 .GraphDataStyleDefault {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve1774 .firstColumn {
  width: 200px;
}
#ve1780 .TwoColorRamp1 {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve1774 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve1770 .firstColumn {
  width: 200px;
}
#ve2534 .infoBarTextUnderline {
  text-decoration: underline;
}
#ve1780 .TwoColorRamp {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve1688 .paragraph1 {
  white-space: pre-line;
}
#ve1780 .GraphDataStyle1 {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve1780 .GraphDataStyle2 {
  fill-color: #929292;
}
#ve990 .infoBarTextUnderline {
  text-decoration: underline;
}
#ve1770 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve1774 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve2534 .infoBarTextBold {
  font-weight: bold;
}
#ve3802 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1766 .paragraph1 {
  font-size: 13.5pt;
}
#ve990 .infoBarTextBold {
  font-weight: bold;
}
#ve3809 .Table {
  wrap-text: normal;
}
#ve990 .infoBarTextTitle {
  font-style: italic;
}
#ve3795 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve2534 .infoBarTextTitle {
  font-style: italic;
}

			