

#ve327 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1009 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1053 .TwoColorAltRamp {
  fill-gradient-start-color: #F4D3D4;
  fill-gradient-end-color: #DB127D;
}
#ve363 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1033 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve642 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve296 .LabelText {
  font-family: AvenirNext;
}
#ve1108 .GraphDataStyle1 {
  marker-color: #4398F9;
  text-color: #4398F9;
  fill-color: #4398F9;
  line-color: #4398F9;
}
#ve692 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve296 .DataText {
  font-family: AvenirNext;
}
#ve1108 .TwoColorAltRamp1 {
  fill-gradient-start-color: #F4D3D4;
  fill-gradient-end-color: #DB127D;
}
#ve232 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve775 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve552 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve391 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve612 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve296 .TwoColorAltRamp {
  fill-gradient-start-color: #C7E3F9;
  fill-gradient-end-color: #4398F9;
}
#ve1108 .TwoColorAltRamp {
  fill-gradient-start-color: #F4D3D4;
  fill-gradient-end-color: #DB127D;
}
#ve296 .Missing {
  marker-color: #DB127D;
  text-color: #DB127D;
  alt-color: #DB127D;
  line-color: #DB127D;
}
#ve580 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve901 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve748 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1108 .GraphDataStyleDefault {
  marker-color: #4398F9;
  text-color: #4398F9;
  fill-color: #4398F9;
  line-color: #4398F9;
}
#ve296 .GraphSkin {
  data-skin: FLAT;
}
#ve441 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve921 .tableColumnbi929 {
  fill-color: #DB127D;
}
#ve296 .ValueText {
  font-family: AvenirNext;
}
#ve507 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve190 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve818 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve474 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1133 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1096 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve296 .TwoColorAltRamp1 {
  fill-gradient-start-color: #C7E3F9;
  fill-gradient-end-color: #4398F9;
}
#ve1053 .TwoColorAltRamp1 {
  fill-gradient-start-color: #F4D3D4;
  fill-gradient-end-color: #DB127D;
}

			