

#ve288 .DataText {
  font-family: Anova;
}
#ve490 .ButtonBar {
  background-color: #C7E3F9;
  selected-background-color: #4398F9;
  font-family: Anova;
  selected-color: #FFFFFF;
}
#ve324 .span1 {
  font-family: Anova;
}
#ve288 .ValueText {
  font-family: Anova;
}
#ve324 .span2 {
  font-weight: bold;
}
#ve435 .ValueText {
  font-family: Anova;
}
#ve265 .ValueText {
  font-family: Anova;
}
#ve288 .KeyText {
  font-family: Anova;
}
#ve324 .span3 {
  font-family: Anova;
}
#ve101 .GraphSkin {
  data-skin: CRISP;
}
#ve435 .DataText {
  font-family: Anova;
}
#ve237 .LabelText {
  font-family: Anova;
}
#ve101 .ValueText {
  font-family: Anova;
}
#ve30 .ValueText {
  font-family: Anova;
}
#ve265 .LabelText {
  font-family: Anova;
}
#ve373 .TableTotals {
  background-color: #DB127D;
  color: #FFFFFF;
  font-weight: bold;
  font-family: Anova;
}
#ve407 .LabelText {
  font-family: Anova;
}
#ve98 .LabelText {
  font-family: Anova;
}
#ve435 .KeyText {
  font-family: Anova;
}
#ve137 .GraphSkin {
  data-skin: CRISP;
}
#ve407 .ValueText {
  font-family: Anova;
}
#ve428 .LabelText {
  font-family: Anova;
}
#ve507 .TableTotals {
  background-color: #DB127D;
  color: #FFFFFF;
  font-family: Anova;
}
#ve443 .TableTotals {
  background-color: #DB127D;
  color: #FFFFFF;
  font-weight: bold;
  font-family: Anova;
}
#ve315 .DataText {
  font-family: Anova;
}
#ve250 .ValueText {
  font-family: Anova;
}
#ve250 .DataText {
  font-family: Anova;
}
#ve288 .LabelText {
  font-family: Anova;
}
#ve428 .DataText {
  font-family: Anova;
}
#ve250 .LabelText {
  font-family: Anova;
}
#ve137 .LabelText {
  font-family: Anova;
}
#ve155 .Table {
  font-family: Anova;
}
#ve428 .ValueText {
  font-family: Anova;
}
#ve30 .TwoColorRamp1 {
  fill-gradient-start-color: #4398F9;
  fill-gradient-end-color: #032954;
}
#ve137 .ValueText {
  font-family: Anova;
}
#ve407 .KeyText {
  font-family: Anova;
}
#ve101 .LabelText {
  font-family: Anova;
}
#ve237 .ValueText {
  font-family: Anova;
}
#ve237 .DataText {
  font-family: Anova;
}
#ve315 .ValueText {
  font-family: Anova;
}
#ve223 .LabelText {
  font-family: Anova;
}
#ve428 .KeyText {
  font-family: Anova;
}
#ve98 .ValueText {
  font-family: Anova;
}
#ve265 .KeyText {
  font-family: Anova;
}
#ve137 .DataText {
  font-family: Anova;
}
#ve98 .GraphSkin {
  data-skin: CRISP;
}
#ve30 .styleForTitle_span4 {
  font-weight: bold;
  font-size: 24px;
  font-family: Anova;
}
#ve30 .styleForTitle_span5 {
  font-size: 24px;
  font-family: Anova;
}
#ve407 .DataText {
  font-family: Anova;
}
#ve507 .Header {
  font-family: Anova;
}
#ve274 .ValueText {
  font-family: Anova;
}
#ve373 .Header {
  font-family: Anova;
}
#ve223 .GraphDataStyleDefault {
  marker-color: #DB127D;
  text-color: #DB127D;
  fill-color: #DB127D;
  line-color: #DB127D;
}
#ve223 .styleForTitle_span2 {
  font-weight: bold;
  font-family: Anova;
}
#ve223 .styleForTitle_span3 {
  font-family: Anova;
}
#ve373 .tableColumnbi380 {
  fill-gradient-end-color: #2470AD;
}
#ve274 .DataText {
  font-family: Anova;
}
#ve274 .LabelText {
  font-family: Anova;
}
#ve223 .DataText {
  font-family: Anova;
}
#ve223 .ValueText {
  font-family: Anova;
}
#ve507 .tableColumnbi516 {
  fill-gradient-start-color: #C7E3F9;
  fill-gradient-end-color: #2470AD;
}
#ve223 .GraphDataStyle1 {
  marker-color: #DB127D;
  text-color: #DB127D;
  fill-color: #DB127D;
  line-color: #DB127D;
}
#ve223 .GraphDataStyle2 {
  marker-color: #4398F9;
  text-color: #4398F9;
  line-color: #4398F9;
}
#ve155 .Header {
  font-family: Anova;
}
#ve237 .KeyText {
  font-family: Anova;
}
#ve274 .KeyText {
  font-family: Anova;
}
#ve95 .Table {
  wrap-text: normal;
  border-style: none;
}
#ve98 .DataText {
  font-family: Anova;
}
#ve101 .DataText {
  font-family: Anova;
}
#ve265 .DataText {
  font-family: Anova;
}
#ve443 .Header {
  font-family: Anova;
}
#ve507 .Table {
  font-family: Anova;
}
#ve315 .KeyText {
  font-family: Anova;
}
#ve167 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve435 .LabelText {
  font-family: Anova;
}
#ve30 .LabelText {
  font-family: Anova;
}
#ve98 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 26px;
}
#ve315 .LabelText {
  font-family: Anova;
}
#ve443 .tableColumnbi469 {
  fill-gradient-start-color: #C7E3F9;
  fill-gradient-end-color: #032954;
}
#ve30 .TwoColorRamp {
  fill-gradient-start-color: #4398F9;
  fill-gradient-end-color: #032954;
}
#ve30 .DataText {
  font-family: Anova;
}
#ve250 .KeyText {
  font-family: Anova;
}
#ve443 .tableColumnbi468 {
  width: 213px;
}

			