

#ve247 .Outlier {
  fill-gradient-start-color: #F4D3D4;
  fill-gradient-end-color: #DD5757;
}
#cd459 .If {
  color: #DD5757;
}
#cd142 .If {
  background-color: #FFCC32;
}
#ve120 .tableColumnbi129 {
  fill-color: #000000;
}
#cd140 .If {
  background-color: #FF8224;
}
#cd463 .If {
  color: #FFCC32;
}
#cd144 .If {
  background-color: #33A3FF;
}
#ve177 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 20pt;
}
#ve57 .TwoColorRamp1 {
  fill-gradient-start-color: #C7E3F9;
  fill-gradient-end-color: #2470AD;
}
#ve57 .GraphSkin {
  data-skin: FLAT;
}
#cd138 .If {
  background-color: #DD5757;
}
#cd461 .If {
  color: #FF8224;
}
#ve57 .TwoColorRamp {
  fill-gradient-start-color: #C7E3F9;
  fill-gradient-end-color: #2470AD;
}
#cd146 .If {
  background-color: #6D69FF;
}
#ve177 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve120 .TableTotals {
  background-color: #FFFFFF;
}
#ve120 .Table {
  vertical-line-style: solid;
}
#ve247 .GraphSkin {
  data-skin: MATTE;
}
#cd457 .If {
  color: #15B57B;
}

			