

#cd255 .If {
  color: #43D09D;
}
#ve153 .styleForTitle_span2 {
  font-weight: bold;
  font-size: 26pt;
}
#ve165 .styleForTitle_span3 {
  font-weight: bold;
  font-size: 26pt;
}
#cd253 .If {
  color: #FCDD7C;
}
#ve188 .styleForTitle_paragraph4 {
  text-align: center;
}
#cd251 .If {
  color: #E99596;
}
#ve165 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve188 .styleForTitle_span4 {
  font-weight: bold;
  font-size: 26pt;
}
#ve278 .span2 {
  font-size: 16pt;
}
#ve278 .span1 {
  font-size: 16pt;
}
#ve142 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve142 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 26pt;
}
#ve153 .styleForTitle_paragraph2 {
  text-align: center;
}

			